@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind components;
@tailwind utilities;

:root {
	--color-shadow-primary: #ffffff;
	--color-shadow-highlight: #ffffff;
}

.weirdwizard * {
	box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
	@apply rounded-none bg-ww-purple border-none;
}
::-webkit-scrollbar-track {
	@apply rounded-none;
}

.weirdwizard h1,
.weirdwizard h2,
.weirdwizard h3 {
	@apply font-serif font-bold uppercase border-none;
}

.weirdwizard input,
.weirdwizard input[type='text'],
.weirdwizard input[type='number'],
.weirdwizard input[type='password'],
.weirdwizard input[type='date'],
.weirdwizard input[type='time'],
.weirdwizard input[type='search'] {
	@apply h-auto p-1.5 border-none rounded-md bg-white font-sans font-bold text-ww-purple focus:bg-ww-purple focus:text-white;
}

.weirdwizard input:focus,
.weirdwizard input[type='text']:focus,
.weirdwizard input[type='number']:focus,
.weirdwizard input[type='password']:focus,
.weirdwizard input[type='date']:focus,
.weirdwizard input[type='time']:focus,
.weirdwizard input[type='search']:focus {
	@apply shadow-none;
}

.weirdwizard.sheet.actor > section {
	@apply !bg-none !bg-gray-100;
}
