@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.float-right{
  float: right;
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-1{
  margin-right: 0.25rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.h-36{
  height: 9rem;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-1\/2{
  height: 50%;
}

.h-32{
  height: 8rem;
}

.\!w-10{
  width: 2.5rem !important;
}

.w-36{
  width: 9rem;
}

.w-32{
  width: 8rem;
}

.w-full{
  width: 100%;
}

.\!w-14{
  width: 3.5rem !important;
}

.\!w-12{
  width: 3rem !important;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-2{
  gap: 0.5rem;
}

.gap-4{
  gap: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.\!rounded-r-none{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.rounded-r-md{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.border-2{
  border-width: 2px;
}

.border-l{
  border-left-width: 1px;
}

.border-ww-orchid{
  --tw-border-opacity: 1;
  border-color: rgb(219 211 220 / var(--tw-border-opacity));
}

.border-ww-purple{
  --tw-border-opacity: 1;
  border-color: rgb(73 36 79 / var(--tw-border-opacity));
}

.bg-ww-orchid{
  --tw-bg-opacity: 1;
  background-color: rgb(219 211 220 / var(--tw-bg-opacity));
}

.bg-ww-orchid\/50{
  background-color: rgb(219 211 220 / 0.5);
}

.bg-ww-silver\/50{
  background-color: rgb(188 190 192 / 0.5);
}

.bg-ww-silver\/25{
  background-color: rgb(188 190 192 / 0.25);
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-1{
  padding: 0.25rem;
}

.p-1\.5{
  padding: 0.375rem;
}

.p-4{
  padding: 1rem;
}

.p-2{
  padding: 0.5rem;
}

.pl-2{
  padding-left: 0.5rem;
}

.pl-4{
  padding-left: 1rem;
}

.\!text-center{
  text-align: center !important;
}

.text-center{
  text-align: center;
}

.align-top{
  vertical-align: top;
}

.align-middle{
  vertical-align: middle;
}

.\!font-serif{
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.font-sans{
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.\!text-xl{
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.\!text-xs{
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.font-bold{
  font-weight: 700;
}

.font-semibold{
  font-weight: 600;
}

.\!font-semibold{
  font-weight: 600 !important;
}

.uppercase{
  text-transform: uppercase;
}

.\!uppercase{
  text-transform: uppercase !important;
}

.italic{
  font-style: italic;
}

.text-ww-purple{
  --tw-text-opacity: 1;
  color: rgb(73 36 79 / var(--tw-text-opacity));
}

:root {
  --color-shadow-primary: #ffffff;
  --color-shadow-highlight: #ffffff;
}

.weirdwizard * {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb{
  border-radius: 0px;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-track{
  border-radius: 0px;
}

.weirdwizard h1,
.weirdwizard h2,
.weirdwizard h3{
  border-style: none;
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  text-transform: uppercase;
}

.weirdwizard input,
.weirdwizard input[type='text'],
.weirdwizard input[type='number'],
.weirdwizard input[type='password'],
.weirdwizard input[type='date'],
.weirdwizard input[type='time'],
.weirdwizard input[type='search']{
  height: auto;
  border-radius: 0.375rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.375rem;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(73 36 79 / var(--tw-text-opacity));
}

.weirdwizard input:focus,
.weirdwizard input[type='text']:focus,
.weirdwizard input[type='number']:focus,
.weirdwizard input[type='password']:focus,
.weirdwizard input[type='date']:focus,
.weirdwizard input[type='time']:focus,
.weirdwizard input[type='search']:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.weirdwizard.sheet.actor > section{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
  background-image: none !important;
}

.hover\:border-ww-purple:hover{
  --tw-border-opacity: 1;
  border-color: rgb(73 36 79 / var(--tw-border-opacity));
}

.hover\:bg-ww-purple:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
