@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.float-right{
  float: right;
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-1{
  margin-right: 0.25rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.h-32{
  height: 8rem;
}

.\!w-12{
  width: 3rem !important;
}

.\!w-14{
  width: 3.5rem !important;
}

.\!w-16{
  width: 4rem !important;
}

.w-32{
  width: 8rem;
}

.w-full{
  width: 100%;
}

.grow{
  flex-grow: 1;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-md{
  border-radius: 0.375rem;
}

.\!rounded-l-none{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.\!rounded-r-none{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.rounded-r-md{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rounded-l-md{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.border-4{
  border-width: 4px;
}

.\!border-b-2{
  border-bottom-width: 2px !important;
}

.border-none{
  border-style: none;
}

.\!border-ww-purple{
  --tw-border-opacity: 1 !important;
  border-color: rgb(73 36 79 / var(--tw-border-opacity)) !important;
}

.border-ww-purple{
  --tw-border-opacity: 1;
  border-color: rgb(73 36 79 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.\!bg-emerald-800{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(6 95 70 / var(--tw-bg-opacity)) !important;
}

.\!bg-red-800{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity)) !important;
}

.bg-emerald-900{
  --tw-bg-opacity: 1;
  background-color: rgb(6 78 59 / var(--tw-bg-opacity));
}

.bg-red-900{
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity));
}

.bg-slate-600{
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

.bg-ww-orchid{
  --tw-bg-opacity: 1;
  background-color: rgb(219 211 220 / var(--tw-bg-opacity));
}

.bg-ww-purple{
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-2{
  padding: 0.5rem;
}

.p-1{
  padding: 0.25rem;
}

.\!px-1{
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.\!py-0{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.\!py-0\.5{
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

.\!py-1{
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-0\.5{
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.\!text-center{
  text-align: center !important;
}

.text-center{
  text-align: center;
}

.align-middle{
  vertical-align: middle;
}

.\!font-serif{
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.font-sans{
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif{
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.\!text-xl{
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}

.\!text-white{
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.text-emerald-300{
  --tw-text-opacity: 1;
  color: rgb(110 231 183 / var(--tw-text-opacity));
}

.text-red-300{
  --tw-text-opacity: 1;
  color: rgb(252 165 165 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-ww-purple{
  --tw-text-opacity: 1;
  color: rgb(73 36 79 / var(--tw-text-opacity));
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

:root {
  --color-shadow-primary: #dbd3dc;
  --color-shadow-highlight: #dbd3dc;
}

.weirdwizard * {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb{
  border-radius: 0px;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-track{
  border-radius: 0px;
}

.paper {
  background-image: url(../assets/images/paper.webp);
  background-size: cover;
  background-position: center;
}

.weirdwizard h1,
.weirdwizard h2,
.weirdwizard h3{
  border-style: none;
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  text-transform: uppercase;
}

.weirdwizard label{
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.weirdwizard input,
.weirdwizard input[type="text"],
.weirdwizard input[type="number"],
.weirdwizard input[type="password"],
.weirdwizard input[type="date"],
.weirdwizard input[type="time"],
.weirdwizard input[type="search"]{
  height: auto;
  border-radius: 0.375rem;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.375rem;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(73 36 79 / var(--tw-text-opacity));
}

.weirdwizard input:focus,
.weirdwizard input[type="text"]:focus,
.weirdwizard input[type="number"]:focus,
.weirdwizard input[type="password"]:focus,
.weirdwizard input[type="date"]:focus,
.weirdwizard input[type="time"]:focus,
.weirdwizard input[type="search"]:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(219 211 220 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.weirdwizard a.rollable.button{
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(73 36 79 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
  padding: 0.375rem;
  text-align: center;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(219 211 220 / var(--tw-text-opacity));
}

.weirdwizard a.rollable.button:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.weirdwizard.sheet.actor > section,
.weirdwizard.sheet.item > section {
  background-image: url(../assets/images/paper.webp);
  background-size: cover;
  background-position: center;
}

.weirdwizard.sheet nav.sheet-tabs{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-style: none;
}

.last\:bg-ww-purple:last-child{
  --tw-bg-opacity: 1;
  background-color: rgb(73 36 79 / var(--tw-bg-opacity));
}

.hover\:border-white:hover{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:border-ww-purple:hover{
  --tw-border-opacity: 1;
  border-color: rgb(73 36 79 / var(--tw-border-opacity));
}
